.item_slide {height: 100vh;} 
.judul .date {
    display: inline-block;
    background: rgb(118, 57, 194);
    padding: 10px;
}
.judul {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #BB6DDB;
    font-size: 25px;
    padding: 10px;
    border-bottom: 5px solid #CEA1E0;
}
.blockColor {
    color: #fff;
    background: #BE007B;
    display: inline-block;
    padding: 5px 18px;
    font-weight: bold;
    text-align: center;
}
.item_slide .table tr td:first-child {
    width: 165px;
}
.item_slide .table{
    font-size: 34px;
}
.si_telat {
    font-size: 51px;
    margin-bottom: 26px;
}
.label-telat{
    font-size: 38px;
    margin-bottom: 22px;
    display: inline-block;
}
.footer {
    position: absolute;
    bottom: 49px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #7639C2;
    font-weight: bold;
    font-size: 36px;
}