@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    position: relative;
    color: #000000;
    font-weight: 300;
    text-align: center;
}
.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(251, 255, 93, 0.69);
    z-index: -1;
}
.logo {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0px auto;
    margin-top: 9vh;
}
.logo .header{
    display: inline-block;
    width: 400px;
}

.logo .beta {
    position: absolute;
    top: 0px;
    right: 33px;
    display: block;
    padding: 0px 7px;
    background: #FF9100;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
}
.content {
    padding: 15px;
    margin: 0px;
}
.maincontent {
    display: block;
    margin: 0px auto;
    font-size: 28px;
    line-height: 40px;
    margin-top: 30px;
}
.button {
    display: block;
    margin-top: 22px;
    background: #FF9100;
    color: #fff;
    padding: 16px 25px;
    text-decoration: none;
    border-radius: 11px;
    border: 2px solid #E46912;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.23);
    width: 398px;
}