.bg-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('../img/bg_blue.jpg');
}
.headnav-title {
    display: block;
}
.headnav-title .th{
    background: #23B9D3;
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #2C3D4F;
}
.title-area {
    color: #fff;
}
.title-area h1 {
    line-height: 56px;
    margin-bottom: 0px;
    text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.45);
    font-size: 56px;
}
.title-area .place {
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 0px;
}
.login-area {
    padding-right: 31px;
    background: #FF6600;
}
.login-area .form-group{
    margin-bottom: 0px;
}
.pencarian {}
.pencarian .page-header{
    margin-top: 0px;
}

.detail-surat .page-header small{
    color: #CA7F7F;
}
.table-detail {}
.table-detail .judul {
    font-weight: bold;
    width: 170px;
    color: #989898;
}
.images_logo {
    position: absolute;
    width: 100px;
    top: 40px;
}
.images_logo_top_right {
    right: 100px;
}
.images_logo_top_left {
    left: 100px;
}
.text-jalan {
    position: fixed;
    z-index: 999;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #123956;
    padding: 5px 0px;
    color: #fff;
    border-top: 2px solid #FFB20B;
    font-size: 20px;
}
.text-jalan .bottom_marquee_title {
position: absolute;
top: 0px;
left: 0px;
padding: 11px 17px;
background: #fff;
color: #000;
font-weight: bold;
border-radius: 0px 20px 20px 0px;
border-right: 2px solid #FFB20B;
font-size: 16px;
}