.back-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 255, 226, 0.55);
}
.home-title {
    font-weight: lighter;
}
.home-title b {
    color: #767676;
}
.login-areas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #AFE752;
}