.header-top , .footer-head{

background: #000;
    background-image: url(../images/list_head.png);
    background-repeat: repeat-x;

height:10px;
}
.header {
    background: #2D2D2D;
}
.header a {
    color: #fff;
    font-size:12px;
    display: inline-block;
    padding: 6px;
}
.link-social {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}
.link-social li {
    display: inline-block;
}
.link-social li a {}
.link-social ul {}
.navigation-header {
    background: #EAEAEA;
    padding: 20px 0px;
}
.navigation-header .logo {
    width: 206px;
    margin-top: 10px;
}

.menu{

	float: right;
	padding-top: 19px;
	padding-bottom: 19px;
}
.menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.menu ul li {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 15px;
}

.menu ul li a {
	text-decoration: none;
	color: #666666;
}
.menu ul li a:hover {
	color: #d31a30;

}
.slider {
    background: #2D2D2D;
}

.banner { position: relative; overflow: auto; height: 410px !important;}
.banner ul {
	margin:0px;
	padding:0px;
}
.banner li { list-style: none; }
.banner ul li { float: left; }
.banner .arrows {
    position: absolute;
    z-index: 999999;
    height: 20px;
    width: 20px;
    display: inline-block;
    top: 50%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.37);
    height: 48px;
    color: #fff !important;
}
.banner .arrows .fa {
	font-size:30px;
	line-height: 1px;
}
.banner .prev {}
.banner .next {
    right: 0px;
}
.theFooter {
    font-size: 11px;
    padding: 20px 0px;
    border-top: 1px solid #e3e3e3;
    background: #2D2D2D;
    color: #fff;
    margin-top: 100px;
}
.kolomProgram {
    margin-bottom: 20px;
}
.kolomProgram h3, .kolomBerita h3 {
    display: block;
    margin: 0px;
    padding: 10px;
    background: #FFC310;
    font-size: 14px;
}
.kolomBerita h3 {
background: #2D2D2D;}
.kolomBerita h3 a{
    color: #fff;
}
.kolomBerita h3 small {
	color: #FFC310;
}
.kolomProgram h3 a {
    color: #fff;
}
.kolomProgram h3 .fa {
color: #000;}
.kolomBerita {
    margin-bottom: 20px;
}
.jadwalBar {
    background: #404040;
    color: #fff;
    padding: 20px 0px;
}
.jadwalBar .jadwalTitle{
    font-size: 24px;
    line-height: 26px;
    color: #fc0;
}
.jadwalBar .jadwalTitle div{
font-weight: bold;letter-spacing: 0px;font-size: 27px;color: #fff;}
.jadwalBar .jadwalBlock{ font-size: 18px;line-height: 15px;padding: 10px 0px;}
.jadwalBar .jadwalBlock span{ font-size: 12px;color: #fc0;}